[submodule "MahApps.Metro"]
	path = MahApps.Metro
	url = https://github.com/Mgamerz/MahApps.Metro.git
[submodule "ME3ExplorerLib"]
	path = ME3ExplorerLib
	url = https://github.com/ME3Tweaks/ME3Explorer
	branch = librarysplit
[submodule "gui.cs"]
	path = gui.cs
	url = https://github.com/Mgamerz/gui.cs.git
[submodule "Notifications.Wpf.Core"]
	path = Notifications.Wpf.Core
	url = https://github.com/Mgamerz/Notifications.Wpf.Core.git
